body{
    background-color: pink;
}
h1{
    text-align: center;
    text-decoration: underline;
    color: cornflowerblue;
}
h2{
    color: aliceblue;
    text-transform: calc();
    align-self: start;
    
}
br{
    background-color: antiquewhite;
    border: 100px;
    border-radius:50px;
}
button{
    background-color: antiquewhite;
    color: pink;
    border: 100px;
    border-radius: 200px;
}
button:hover {
    background-color: purple;
    color: aliceblue;
    display: block;

}
.nav-bar{
    width: 100%;
    background-color: blue;
    margin: 0%;
    border-radius:200px;
}
nav ul{
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    gap: 50px;
    margin: 0%;
    padding: 0%;
}